.project-settings
  .card-content
    padding: 0.75rem 1rem

  .list
    box-shadow: 0px 2px 4px rgba($input-shadow, 0.1)

    & .list-item
      border: 1px solid $grey-800
      padding: 0.75rem 1rem

      &:not(:last-child)
        border-bottom-color: $grey-800

      & .feather
        stroke: $link
        width: 16px
        height: 16px

      & .actions
        .button
          padding: 0.5rem

.kanban-header
  position: relative

  .card-header
    align-items: center

    & > .button
      padding: 0.25rem
      height: 2.25rem
      width: 2.25rem
      margin-right: 1rem

    .feather
      stroke: $dark
      width: 24px
      height: 24px

.kanban-filters-content
  position: absolute
  background-color: $white
  width: 100%
  box-shadow: 0 8px 24px -12px rgba(150,160,170,0.4)

.kanban-filters
  display: flex
  flex-direction: row

  .filter-group
    display: flex
    flex-direction: row
    align-items: center
    flex: 1 1 50%

    & .label
      padding-right: 1rem
      margin-bottom: 0
      font-weight: 500

    & .buttons
      margin-right: 1rem

      &:not(:last-child)
        margin-bottom: 0

      &:last-child
        margin-bottom: 0

      & .button
        margin-bottom: 0
        border-radius: 6px
        @include useFilterColors
        color: $white

        &:focus
          box-shadow: none

        &.is-all
          @extend .is-light

        &.is-active
          @include useFilterColors(15%)

          &.is-all
            @extend .is-light

.kanban-container
  .panel
    & .panel-heading
      font-size: 1rem
      padding: 0.75rem
      font-weight: 500
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center

      .button.add-task
        padding: 0.25rem
        height: auto

        .feather
          stroke: $dark
          width: 22px
          height: 22px

      .tag
        font-weight: 500

    &.is-link .kanban-card .card-side-border
      background-color: $link

    &.is-info .kanban-card .card-side-border
      background-color: $info

    &.is-primary .kanban-card .card-side-border
      background-color: $primary

    &.is-success .kanban-card .card-side-border
      background-color: $success

    & .panel-block
      background-color: $white

      &.add-new-task
        .button
          font-weight: 500

  .kanban-card
    flex: 1

    & .card-header
      padding: 0.5rem 0 0.75rem 0
      align-items: center
      flex-wrap: wrap

      .card-header-title
        padding: 0

        .tag
          font-weight: 500
          font-size: 0.875rem

      .tags
        &:last-child,
        & .tag
          margin-bottom: 0

    & .card-content
      padding: 0.75rem 0
      position: relative
      display: flex
      flex-direction: row
      color: $grey-200

      .divider
        margin: 0.5rem 0

      .small
        font-size: 0.75rem

      .card-content-body
        flex: 1

      .card-side-border
        padding: 0 2px
        border-radius: 2px
        background-color: $primary-color
        display: block
        margin-right: 0.75rem

      .card-body-title
        font-weight: 500
        margin-bottom: 1rem
        line-height: 1.25

      .card-body-extra
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center

        .tag
          padding: 0.5rem
          height: auto

          .feather
            width: 20px
            height: 20px

        .task-extra-info
          display: flex
          flex-direction: row
          align-items: center

          .feather
            width: 16px
            height: 16px
            stroke: $grey-600

          & > div
            display: flex
            flex-direction: row
            align-items: center
            margin-right: 0.5rem

            &:last-child
              margin-right: 0

            .text
              margin-left: 0.25rem

      .card-body-progress
        .progress
          margin-bottom: 0.5rem
          cursor: pointer
          background-color: $grey-800
          transition: width 0.25s ease-in

          &.is-smaller
            height: 0.5rem

        .subtask-details
          .list-item
            padding-left: 0
            padding-right: 0
            justify-content: normal
            font-size: 0.85rem

            .toggle
              margin-right: 0.5rem

            .subtask-text
              flex: 0 1 auto

      .task-user
        box-shadow: 0px 1px 2px rgba($input-shadow, 0.1)

    & .card-footer
      padding: 0

      .card-footer-item
        padding: 0.5rem 0.5rem 0 0.5rem

        &:first-child
          justify-content: flex-start
          padding-left: 0

        &:last-child
          justify-content: flex-end
          padding-right: 0

        .button > .feather
          stroke: $grey-200

    & .tag
      @include useFilterColors

.kanban-card-display, .kanban-card-form
  & .card-header
    justify-content: space-between

    & .card-header-title
      flex-grow: 0

  & .card-content
    padding: 1rem

    .card-title
      font-weight: 500
      font-size: 1.25rem
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center

      .tag
        padding: 0.5rem
        height: auto

        .feather
          width: 20px
          height: 20px

      .task-user
        box-shadow: 0px 1px 2px rgba($input-shadow, 0.1)

    .subtask-details
      .list-item
        padding: 0.5rem

        .toggle.is-active
          & + .subtask-text
            color: $grey-500

        .subtask-text
          margin-left: 0.5rem

        .item-remove
          padding: 0.25rem
          border-radius: 4px

          svg
            width: 16px
            height: 16px

    .subtask-form
      padding: 0 0.25rem

      .button
        border-radius: 4px
        padding: 0.25rem

    .content-actions
      display: flex
      flex-direction: row

      .card-action-item
        flex: 1

        &:not(:first-child)
          margin-left: 0.5rem

        &:not(:last-child)
          margin-right: 0.5rem

      .button
        &:focus
          box-shadow: none

        .feather
          width: 24px
          height: 24px

        &.is-link .feather
          stroke: $link

        &.is-info .feather
          stroke: $info

        &.is-primary .feather
          stroke: $primary

        &.is-success .feather
          stroke: $success

  & .tags
    padding: 0 1rem
    margin-bottom: 0

    & .tag
      margin-bottom: 0
      @include useFilterColors

  & .comment-card
    box-shadow: none
    border-radius: 0

    & .card-header-title,
    & .card-footer-item
      padding: 0.25rem 0.5rem

    & .card-header-title
      color: $grey-400

    & .card-content
      padding: 0.75rem
      background-color: $white
      box-shadow: 0px 2px 4px rgba($input-shadow, 0.2)
      transition: background-color 0.2s ease-in

      &:hover
        background-color: #fdfdfd

    & .card-footer
      border-top: 0

      & .card-footer-item
        padding-top: 0.5rem
        justify-content: flex-start
        font-size: 0.75rem

    & + .comment-card
      margin-bottom: 0.5rem

.kanban-card-form
  & .label
    font-weight: 500

  & .button
    margin-bottom: 0
    border-radius: 6px

    &:focus
      box-shadow: none

    &:not(.is-white)
      color: $white

    @include useFilterColors

    &.is-active
      @include useFilterColors(15%)

.group-filters
  display: flex
  flex-direction: row
  flex-wrap: wrap
  margin: 0 -1rem

  & .filter-column
    flex: 1
    padding: 0 1rem

  & .filter-control
    display: flex
    flex-direction: column
    flex-wrap: wrap

    & .custom-field
      flex: 1
      display: flex
      flex-direction: row
      align-items: center
      cursor: pointer
      padding: 0.5rem
      border-radius: 4px
      border: 1px solid $input-border
      box-shadow: 0px 2px 4px rgba($input-shadow, 0.1)
      margin-bottom: 1rem

      &:hover
        box-shadow: 0px 2px 4px rgba($input-shadow, 0.15)

      &:last-child
        margin-bottom: 0

      .toggle
        height: 24px

        &.is-active
          background-color: $link

      .label
        padding-left: 1rem
        font-weight: 400
        font-size: 1rem
        color: $grey-500
        margin-bottom: 0

      &.active
        border-color: $link
        box-shadow: 0px 2px 4px rgba($input-shadow, 0.2)

        .label
          color: $grey-300
