@mixin useFilterColors
  &.is-task
    background-color: $task
  &.is-bug
    background-color: $bug
  &.is-design
    background-color: $design

  &.is-trivial
    background-color: $trivial
  &.is-minor
    background-color: $minor
  &.is-major
    background-color: $major
    color: $black
  &.is-critical
    background-color: $critical
  &.is-blocker
    background-color: $blocker
